[Unit]
Description=Bullotron, Hardware-controlling service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /opt/bullotron/hw_service.py
[Install]
WantedBy=multi-user.target
